/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2835";

    fragment@0 {
        target = <&spi1>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;

            sh1106@2 {
                compatible = "sino,sh1106";
                reg = <2>;  // CE2
                spi-max-frequency = <10000000>;
                buswidth = <8>;
                dc-gpios = <&gpio 25 0>; // GPIO25 as DC
                reset-gpios = <&gpio 24 0>; // Optional: GPIO24 as RESET
            };
        };
    };

    fragment@1 {
        target-path = "/";
        __overlay__ {
            sh1106_pins: sh1106_pins {
                brcm,pins = <24 25>; // match above
                brcm,function = <1 1>; // output
                brcm,pull = <0 0>;
            };
        };
    };
};